<section class="main">
    <section class="right">
      <img class="w-100 banner-animation" [src]="rec" >
  </section>
      <section class="left">
          <div class="title"><h2> <span>Welcome dear recruiter</span> </h2></div>
          <div class="sstitle"><h3>We help you to find the best candidates to your offers</h3></div>

              <ul class="cta">
                  <li><button (click)="onList()">Your Offers</button></li>
                  <li><button (click)="onSave()">The Saved Tips</button></li>
                  <li><button (click)="onParticipate()">Events participated</button></li>
              </ul>
      </section>

