<section class="main">
  <section class="right">
    <img class="w-100 banner-animation" [src]="landing" alt="Langing image">
</section>
    <section class="left">
        <div class="title"><h2> <span>Hi, are you looking for the job of your dreams?</span> </h2></div>
        <div class="sstitle"><h3>We'll find it for you</h3></div>
        <div class="msg"> <h5>Your journey is unique, just like you. 
            Whether it is to discover a job you would never have thought of, or to find the company
             where you can flourish, we support you. Our objective ? 
             That your professional choices are in accordance with your values.</h5> </div>
        
            <ul class="cta">
                <li><button (click)="onCandidate()">I'm looking for a job</button></li>
                <li> <button (click)="onRecruiter()" >I recruit a talent</button></li>
            </ul> 
    </section>

  
</section>
<section class="main">

  <section class="right">
    <img class="w-100 banner-animation" [src]="getready" alt="getready image" >
    
    
       
</section>

    <section class="left">
        <div class="title"><h2> <span>APPLY</span> </h2></div>
        <div class="sstitle"><h3>get started</h3></div>
        <div class="msg"> <h5>One small step, then a second, then you are on a path, yours. Here, all internship and job offers are adapted to student and recent graduate profiles. And since there is not only one way to find your way, recruiters can also contact you directly to offer you relevant offers. You have talent: trust yourself.</h5> </div>
        <ul class="cta">

            <li><button (click)="onOffers()">Offers</button></li>
            <li> <button >Companies</button></li>
        </ul> 
    </section>
   
</section>
    <section class="main">
      <section class="right">
        <img class="w-100 banner-animation" [src]="calendar" alt="calendar image">
    </section>
    <section class="left">
        <div class="title"><h2> <span>DEEPEN</span> </h2></div>
        <div class="sstitle"><h3>Prepare yourselves</h3></div>
        <div class="msg"> <h5>Entering the labor market is sometimes a leap into the unknown. So nothing better than talking with professionals during our physical and virtual events to broaden your horizons and remove doubts. Add our practical advice specially designed for you, and you're ready to go.</h5> </div>
        
            <ul class="cta">
                <li><button (click)="onTips()" >Tips</button></li>
                <li> <button (click)="onEvents()" >Events</button></li>
            </ul> 
    </section>

    
    
    
  
</section><div class="brands">
<h1 class="title">Discover our different support methods</h1></div>
<div class="cards">
  
    <div class="card">
      <img class="card__image" [src]="chasse" alt="">
      <div class="card__content">
        <h1>
          HUNT
        </h1>
        <p>
            We are looking for exceptional profiles for ambitious companies. 3 steps to find the ideal profile: CV study, interview, and reference check.
        </p>
      </div>
      
      </div>
    </div>
    <div class="cards">
        <div class="card">
          <img class="card__image" [src]="RPO" alt="">
          <div class="card__content">
            <h1>
              RPO
            </h1>
            <p>
                Our recruitment experts are sent in immersion in companies to manage the processes from A to Z.
            </p>
          </div>
          
          </div>
        </div>
        <div class="cards">
            <div class="card">
              <img class="card__image" [src]="SOURCING" alt="">
              <div class="card__content">
                <h1>
              SOURCING
                </h1>
                <p>
                    
We apply a clever mix of expertise and technology to give maximum visibility to job offers from companies that seek our support.
                </p>
              </div>
              
              </div>
            </div>
            <div class="cards">
                <div class="card">
                  <img class="card__image" [src]="LVDF" alt="">
                  <div class="card__content">
                    <h1>
                     LVDF.io
                    </h1>
                    <p>
                        We have developed a fully automated reference taking platform to lighten and secure the recruitment process.
                    </p>
                  </div>
                  
                  </div>
                </div>
          <div class="brands">
            <h1 class="title">Find the business of your dreams </h1>
            <div class="small-container">

              <div class="row">
                <div class="col-5">
                 <a href="https://www.orange.tn
                 "><img [src]="orange" ></a> 
                </div>
                <div class="col-5">
                  <a href="https://www.volkswagen.tn/fr.html
                  "><img [src]="volkswagen" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://consumer.huawei.com/tn/
                  "><img [src]="huawei" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.samsungtunisie.tn
                  "><img [src]="samsung" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.carrefour.tn/
                  "><img [src]="carrefour" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.delice.tn/
                  "><img [src]="delice" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://talan.com/
                  "><img [src]="draxlmaier" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.giz.de/en/worldwide/22600.html
                  "><img [src]="giz" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://about.google/
                  "><img [src]="google" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.capgemini.com/
                  "><img [src]="capgemini" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.actia.com/fr/
                  "><img [src]="actia" ></a> 
                 </div>
                 <div class="col-5">
                 <a href="https://www.sofrecom.com/
                  "><img [src]="sofrecom" ></a> 
                 </div><div class="col-5">
                 <a href="https://www.sagemcom.com/fr
                  "><img [src]="sagem" ></a> 
                 </div>
                 <div class="col-5">
                  <a href="https://www.sagemcom.com/fr
                   "><img [src]="microsoft" ></a> 
                  </div>
              </div>
            </div>
          </div>

