<app-offercreate></app-offercreate>
      <div class="sstitle1">
        <p> Your List of Offers</p>
      </div>

      <table class="table" id="table">
        <thead class="thead-dark">
          <tr>

            <th scope="col" id="post">Post</th>

            <th scope="col" id="location">Create Date</th>
            <th scope="col" id="Description">Description</th>
            <th scope="col" id="action">Action</th>

          </tr>
        </thead>
      <tbody class="tbody">

        <tr *ngFor="let obj of Off" >
          <td><i class="fa fa-user"></i>{{obj.poste}}</td>


          <td><i class="fa fa-calendar"></i>{{obj.createDate}}</td>
          <td> <a  class="btn1" (click)="onClick()"  >View Description</a></td>
          <td>
            <button class="btn btn-danger " (click)="Remove(obj.idOffre)"  >Delete</button> </td>


        <div class="popup-view">
          <div class="popup-card">
            <a><i class="fas fa-times close-btn"></i></a>
            <div class="info">

              <h2>About the Offer</h2>
              <p>{{obj.description}} </p>

            </div>

            </div>
          </div>
        </tr>   </tbody>
    </table>





      <button class="load-more" (click)="onLoad()" >
        Load More  </button>





