<section class="main">
    <section class="right">
        <img  class="w-100 banner-animation" [src]="FAQ" alt="FAQ image">
    </section>
    
    <section class="left">
        <h1 class="title">FAQ's </h1>
        <div class="questions-container">
            <div class="questions">
             <button (click)="onSearch()">
             <span>Who are we ? </span>
             <i class="fa fa-solid fa-plus"></i></button>
     
     
         <p>
            Created in 2022, OpportunityCorner is a key player in the field of tailor-made talent recruitment : from startups seeking growth to large groups undergoing digital transformation. Thanks to our partner companies, we are able to offer you a wide choice of offers, each more stimulating than the next. Our recruitment experts listen to your desires and aspirations to best guide you towards the company that suits you. Our objective ? Help you put your skills to good use to carry out exciting missions and why not climb the ladder!
               </p>
        
     </div></div> 
     <div class="questions-container">
        <div class="questions">
         <button (click)="onSearch()">
         <span>What types of positions do we offer? </span>
         <i class="fa fa-solid fa-plus"></i></button>
 
 
     <p>
        We offer permanent contracts for profiles with varying levels of experience. Find all our offers here
           </p>
    
 </div></div> 

        <div class="questions-container">
       <div class="questions">
        <button (click)="onSearch()">
        <span>What if there is no job that interests me? </span>
        <i class="fa fa-solid fa-plus"></i></button>


    <p>
        Several trades are already on the platform, but it may happen that no pro exactly matches your search. If you can't find exactly the job you're interested in, it's because there is no pro registered for this job yet. But do not panic ! This is what you can do:
    
        <br>   1. Explore other professions in the sector and contact the pros
       <br>   2.Use the search by center of interest to find a range of other professions that could correspond to you.
          </p>
   
</div></div>
<div class="questions-container">
<div class="questions"><button (click)="onSearch()">
    <span>I applied in many offers but no one answers me, what can i do?</span>
    <i class="fa fa-solid fa-plus"></i></button>


<p>
    Help, no one is answering me! First of all, ask yourself these questions:
Was my message correctly formulated and without spelling mistakes?
Did I use all the polite formulas correctly?
Were my questions relevant to the profile of the pro?
It may be that professionals do not bother to respond to messages that are poorly worded and not specific enough!

It is also possible that the pro is very busy at the moment or on vacation. The pros sometimes respond several days after sending your message. If you still don't have an answer after one or more weeks, don't hesitate to kindly follow up with the pro in writing.

While waiting for him to answer you, contact other pros who practice the same profession as him. It's always better to have different opinions, right?
</p>

</div></div>
<div class="questions-container">
<div class="questions">
 <button (click)="onSearch()">  <span>
    
What should I do if I have changed activity or company since my registration?</span>
<i class="fa fa-solid fa-plus"></i></button> 

<p>
    No need to delete your account if you have changed company or profession since your registration: simply update this information!

    Your new activity will interest young people just as much.
    Once logged in, go to your dashboard to update your professional experience.
</p>

</div></div>
<div class="questions-container">
<div class="questions">
  <button (click)="onSearch()">  <span>
    
I registered as a recruiter but i'm a candidate , what should I do?</span>
<i class="fa fa-solid fa-plus"></i></button>

<p>
    If you are still studying, even on a work-study program, you must register as a young person. If you made a mistake when registering, don't panic! Send an email to: contact@OppCor.com. We can switch your pro account to a young one, but you will then have to give us a date of birth.
    You can also delete your pro account in “My account” to then create your youth account.
</p>

</div></div>
<div class="questions-container">
<div class="questions">
 <button (click)="onSearch()">   <span>
        I am looking for a job or an internship, how does it work?</span>
        <i class="fa fa-solid fa-plus"></i></button>

<p>
    Recruiters in OpportunityCorner offer internship and job offers (3rd year discovery internship, student internship, work-study, civic service, etc.) in a wide variety of business sectors and companies!
   <br> <a href="/Sign_up">Join Us for Free! </a>  <br>
to see the offers in their entirety and apply directly on the site!

    Do not hesitate to join our group where recruiters can proofread your CV and cover letter to boost your applications!
    
    If you do not find what you are looking for among our offers, we advise you to write to the pros, showing them your interest in their profession.
    
    When writing your message</p>
</div>
</div>
<div class="questions-container">
    <div class="questions">
     <button (click)="onSearch()">
     <span>I am a company, how can I work with you?

         </span>
     <i class="fa fa-solid fa-plus"></i></button>


 <p>
    We invite you to send us a contact request. (put the link via the contact form). We will contact you as soon as possible to present our services to you.
       </p>

</div></div> 
<div class="questions-container">
    <div class="questions">
     <button (click)="onSearch()">
     <span>How much does it cost ?

         </span>
     <i class="fa fa-solid fa-plus"></i></button>


 <p>
    For candidates, it's completely free! Only companies pay us when they hire one of our profiles.
       </p>

</div></div> 
<button class="cta" (click)="onContact()">Contact us</button>
    </section>

   
    
     
  
</section>
