<section class="main">
    <section class="right">
        <img class="w-100 banner-animation" [src]="candidat" alt="hr image">
    </section>
    <section class="left">
        <div class="title"><h2> <span>
            Work in the best companies and make your career take off!
</span> </h2></div>
       
        
           
                <button class="cta" (click)="onOffers()">Discover our offers</button>
         
           
    </section>

 
</section>

<section class="main">

    <section class="right">
        <img class="w-100 banner-animation" [src]="entretien" alt="recruiter image">
        
        
           
    </section>

    <section class="left">
        <div class="title"><h2> <span>
            Send an unsolicited application
</span> </h2></div>
        
        <div class="msg"> <p>You have not found the offer that makes you vibrate? Send us an <b> unsolicited application</b>. Our consultants will find the offer that suits you. A CV, a few lines to talk about yourself, and you're done!</p> </div>
        <ul class="stats-list">
            <li class="stats-card"><p class="h3 stats-title"> 72hours</p> <p class="stats-text">you take a Response</p></li>
            <li  class="stats-card"><p class="h3 stats-title">1 </p><p class="stats-text"> Personalized support</p> </li>
            <li  class="stats-card"><p class="h3 stats-title">100% </p><p class="stats-text">free services</p></li>
          
        </ul> 
        <button class="cta" >Send my application</button>
    </section>
</section>


<section class="main">
    <section class="right">
        <img class="w-100 banner-animation" [src]="post" alt="post image">
    </section>
    <section class="left">
        <div class="title"><h2> <span>Apply to our offers</span> </h2></div>
        <div class="sstitle"><h3>Are you looking for the job of your dreams? Here are the 3 steps to follow:
        </h3></div>
        <div class="container">
            <div class="switch">
                <button class="button is-active"  (click)="onClick()" > Apply</button>
              <button class="button" (click)="onClick()">Tell us about you</button> 
             <button class="button" (click)="onClick()"> Meet the companies</button> 
            </div></div>
            <div class="body">
            <div class="msg1 is-active" >
            
                <p><b>Submit your application!</b><br>
                    Find the offers that suit you and send us your CV.</p>
            </div>
                <div class="msg1" >
                    <p><b>Tell us all about your motivations!</b><br>
                        If your application matches our expectations, we will schedule a remote interview to discuss your research.</p>
                </div>
                <div class="msg1" id="3">
                    <p><b>Discuss with the companies that trust us</b><br>
                        It's up to you to convince recruiters that this job is for you!</p>
                </div>
            </div>
          
            
        
            <button class="cta">Consult our offers</button>
    </section>

    
</section>


<div class="brands">
    <h1 class="title">Find the business of your dreams </h1>
    <div class="small-container">

      <div class="row">
        <div class="col-5">
         <a href="https://www.orange.tn
         "><img [src]="orange" ></a> 
        </div>
        <div class="col-5">
          <a href="https://www.volkswagen.tn/fr.html
          "><img [src]="volkswagen" ></a> 
         </div>
         <div class="col-5">
          <a href="https://consumer.huawei.com/tn/
          "><img [src]="huawei" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.samsungtunisie.tn
          "><img [src]="samsung" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.carrefour.tn/
          "><img [src]="carrefour" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.delice.tn/
          "><img [src]="delice" ></a> 
         </div>
         <div class="col-5">
          <a href="https://tn.draexlmaier.com/
          "><img [src]="draxlmaier" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.giz.de/en/worldwide/22600.html
          "><img [src]="giz" ></a> 
         </div>
         <div class="col-5">
          <a href="https://about.google/
          "><img [src]="google" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.capgemini.com/
          "><img [src]="capgemini" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.actia.com/fr/
          "><img [src]="actia" ></a> 
         </div>
         <div class="col-5">
         <a href="https://www.sofrecom.com/
          "><img [src]="sofrecom" ></a> 
         </div><div class="col-5">
         <a href="https://www.sagemcom.com/fr
          "><img [src]="sagem" ></a> 
         </div>
         <div class="col-5">
          <a href="https://www.sagemcom.com/fr
           "><img [src]="microsoft" ></a> 
          </div>
      </div>
    </div>
  </div>
  <div class="brands">  <h1 class="title">Feedback from our customers
</h1></div>
  <div class="container1">
    
    <div class="slide-container ">
      <div class="slide">
        <i class="fa fa-quote-right icon"></i>
        <div class="user">
            <img [src]="user3"  >
            <div class="user-info">
                <h3>Nourhen Aloui</h3>
               <div class="stars">
                <i class="fa fa-solid  fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa fa-solid fa-star"></i>
                <i class="fa  fa-star-half-empty"></i>
               
               </div>
            </div> 
        </div> 
        <p>The team attentive and at the top in terms of responsiveness to support candidates in winning the nugget in a difficult context. The OpportunityCorner team demonstrated professionalism in proposing the position and following up with the candidates until the end.Availability and personalized advice remain major advantages compared to recruitment firms. Congratulations to the team </p>
      </div> 
</div>  

<div class="slide-container ">
    <div class="slide">
      <i class="fa fa-quote-right icon"></i>
      <div class="user">
          <img [src]="user5"  >
          <div class="user-info">
              <h3>Ahmed Oueslati</h3>
             <div class="stars">
              <i class="fa fa-solid  fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
             
             </div>
          </div> 
      </div> 
      <p>IN THE TOP! I did not know this site at the beginning but now I am really delighted! practical, intuitive and modern site. I really appreciated my experience. I will highly recommend you. Good luck to you.</p>
    </div> 
</div>
<div class="slide-container ">
<div class="slide">
  <i class="fa fa-quote-right icon"></i>
  <div class="user">
      <img [src]="user4"  >
      <div class="user-info">
          <h3>Imen Attar </h3>
         <div class="stars">
          <i class="fa fa-solid  fa-star"></i>
          <i class="fa fa-solid fa-star"></i>
          <i class="fa fa-solid fa-star"></i>
          <i class="fa fa-solid fa-star"></i>
          <i class="fa fa-solid fa-star"></i>
         </div>
      </div> 
  </div> 
  <p>Very good personalized follow-up from registration, telephone exchange and proposal of an interesting offer on the first day, since converted into a first permanent contract. The process is fast and fluid, and the support is kind. Thank you to the whole team.</p>
</div> 
</div>

</div>

<button class="ctaa">leave a review
</button> 

