<div class="sstitle1">
  <p> Your List of Tips</p>
</div>

<table class="table" id="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col" id="post">Title</th>
      <th scope="col" id="company">Create Date</th>
      <th scope="col" id="company">Description</th>
      <th scope="col" id="location">Actions</th>

    </tr>
  </thead>
<tbody class="tbody">

  <tr *ngFor="let obj of us" >
    <td><i class="fa fa-star"></i>{{obj.titrecons}}</td>
    <td><i class="fa fa-building"></i>{{obj.createDate}}</td>

    <td> <a  class="btn1" (click)="onClick()" >View Description</a></td>
    <td>
      <button class="btn btn-danger " (click)="Remove()"  >Delete</button> </td>
      <div class="popup-view">
        <div class="popup-card">
          <a><i class="fas fa-times close-btn"></i></a>
          <div class="info">

            <h2>{{obj.titrecons}}</h2>
            <p>{{obj.contenu}} </p>

          </div>

          </div>
        </div>
  </tr>

</tbody>
</table>





<button class="load-more" (click)="onLoad()" >
  Load More  </button>





