<section class="main">
  <section class="right">
    <img class="w-100 banner-animation" [src]="hr" alt="hr image">
</section>
    <section class="left">
        <div class="title"><h2> <span>
            Recruiting talent has never been easier. Entrust us with your recruitments!</span> </h2></div>
       
        
           
                <button class="cta" (click)="onHire()">I hire</button>
         
           
    </section>

   
</section>
<section class="main">

    <section class="right">
        <img class="w-100 banner-animation" [src]="recruiter" alt="recruiter image">
        
        
           
    </section>

    <section class="left">
        <div class="title"><h2> <span>
            Entrust us with your recruitments</span> </h2></div>
        
        <div class="msg"> <p>OpportunityCorner has made it its mission to help you find <b> the talents</b> that will support your development.

            Are you <b>a startup, an SME or a Large Group</b> ? We support you in recruiting <b>profiles on permanent </b>  contracts for <b>Tech, Sales, Digital, Data and Product functions.</b> 
            
            From the audit of needs to the follow-up of the integration of candidates, our expert consultants provide you with <b>personalized support</b>  to build and implement your recruitment strategy.</p> </div>
        <ul class="list">

            <li><i class="fa fa-regular fa-check"></i><p>Tailor-made recruitment</p></li>
            <li><i class="fa fa-regular fa-check"></i><p>Team of expert consultants</p> </li>     </ul> 
        <ul class="stats-list">    <li  class="stats-card"><p class="h3 stats-title"> 5,000  </p> <p class="stats-text"> candidates</p></li>
            <li  class="stats-card"><p class="h3 stats-title">1000 </p>  <p class="stats-text">partner companies</p></li>
            <li  class="stats-card"><p class="h3 stats-title"> 4,000 </p> <p class="stats-text"> recruitments made
            </p></li>
        </ul> 
    </section>
</section>
<div class="brands">
    <h1 class="title">A tailor-made approach</h1></div>
    <div class="cards">
      <div class="card">
        <img class="card__image" [src]="accompagnement" alt="">
        <div class="card__content">
          <h1>
            ACCOMPANIEMENT
          </h1>
          <p>
            We help you define and refine your recruitment needs.

          </p>
        </div>
      </div>
        </div>
      
      <div class="cards">
          <div class="card">
            <img class="card__image" [src]="qualification" alt="">
            <div class="card__content">
              <h1>
               QUALIFICATION
              </h1>
              <p>
                We validate the skills of the candidates we meet.
              </p>
            </div>
            
            </div>
          </div>
          <div class="cards">
              <div class="card">
                <img class="card__image" [src]="SOURCING" alt="">
                <div class="card__content">
                  <h1>
                SOURCING
                  </h1>
                  <p>
                      
                    We look for the best profiles to meet your needs and contact them directly.

                  </p>
                </div>
                
                </div>
              </div>
              <div class="cards">
                  <div class="card">
                    <img class="card__image" [src]="pres" alt="">
                    <div class="card__content">
                      <h1>
                      PRESENTATION  
                      </h1>
                      <p>
                          
                       We make you meet the profiles we have selected for you.
                      </p>
                    </div>
                    
                    </div>
                  </div>
                  <div class="cards">
                    <div class="card">
                      <img class="card__image" [src]="suiv" alt="">
                      <div class="card__content">
                        <h1>
                        FOLLOWED 
                        </h1>
                        <p>
                            
                        
                         We monitor the integration of our candidates within your company.
                        </p>
                      </div>
                      
                      </div>
                    </div>  <div class="brands">
                    <h1 class="title">Discover our different support methods</h1></div>
                    
                    <section class="main1">

                        <section class="left">
                          
                            
                            <div class="msg"> <h5>We are constantly <b> reinventing </b> ourselves to meet your changing <b>recruitment needs</b>. Our activity is thus based on <b> three pillars</b>: the hunt for exceptional profiles, sourcing to give your offers maximum visibility, and the provision of recruitment experts directly within your company to manage all or part of your process (RPO).</h5> </div>
                            
                               
                        </section>
                    
                        <section class="right">
                            <ul class="list">

                                <li><i class="fa fa-regular fa-check"></i><p>Hunting: we hunt exceptional profiles to support your projects.</p></li>
                                <li><i class="fa fa-regular fa-check"></i><p>RPO: Bring the skills of one of our recruitment experts into your business.</p> </li>
                                <li><i class="fa fa-regular fa-check"></i><p>Sourcing: we offer maximum visibility to your offers.
                                </p></li>
                               
                            </ul> 
                        </section>
                    </section>  
                  <div class="brands">  <h1 class="title" id="feedback">Feedback from our customers
                    </h1></div>
    <div class="container1">
    
        <div class="slide-container ">
          <div class="slide">
            <i class="fa fa-quote-right icon"></i>
            <div class="user">
                <img [src]="user"  >
                <div class="user-info">
                    <h3>Khadija Trabelsi</h3>
                    <h5>Talent acquisition in Google</h5>
                   <div class="stars">
                    <i class="fa fa-solid  fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa fa-solid fa-star"></i>
                    <i class="fa  fa-star-half-empty"></i>
                   
                   </div>
                </div> 
            </div> 
            <p>We first collaborated on a specific property for a tech profile quite sought after on the market and difficult to capture and reiterated on other searches and on RPO following a remarkable reactivity! a great team attentive and friendly! I recommend </p>
          </div> 
    </div>  
    <div class="slide-container ">
        <div class="slide">
          <i class="fa fa-quote-right icon"></i>
          <div class="user">
              <img [src]="user1"  >
              <div class="user-info">
                  <h3>Laurent Arix</h3>
                  <h5>Project manager in Orange</h5>
                 <div class="stars">
                  <i class="fa fa-solid  fa-star"></i>
                  <i class="fa fa-solid fa-star"></i>
                  <i class="fa fa-solid fa-star"></i>
                  <i class="fa fa-solid fa-star"></i>
                 
                 </div>
              </div> 
          </div> 
          <p>We work together on the recruitment of junior commercial profiles. our account manager is super reactive understands our research and only sends us profiles in our target the relationship is very fluid and pleasant and above all we have recruited several profiles thanks to OpportunityCorner.</p>
        </div> 
  </div>
  <div class="slide-container ">
    <div class="slide">
      <i class="fa fa-quote-right icon"></i>
      <div class="user">
          <img [src]="user2"  >
          <div class="user-info">
              <h3>Adam Friaa </h3>
              <h5>RH in Actia</h5>
             <div class="stars">
              <i class="fa fa-solid  fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
              <i class="fa fa-solid fa-star"></i>
             </div>
          </div> 
      </div> 
      <p>We collaborated on the recruitment of several junior profiles in our teams. the positions were to be filled urgently and OpportunityCorner made it possible to meet this challenge
        Opportunityorner allowed us to recruit 6 employees in record time for junior positions in operations and sales. The profiles sent were sorted and prequalified, which saved us a lot of time in our recruitment process.</p>
    </div> 
</div>

    </div>
   
