<section class="main">
  <section class="right">
    <img class="w-100 banner-animation" [src]="cand" >
</section>
    <section class="left">
        <div class="title"><h2> <span>Welcome dear Candidate</span> </h2></div>
        <div class="sstitle"><h3>We help you to find the best  offers to you</h3></div>

            <ul class="cta">
                <li><button (click)="onApply()">Your Application</button></li>
                <li> <button (click)="onEvent()" >Your events</button></li>
                <li><button  (click)="onTips()">Your tips</button></li>
            </ul>
    </section>
