<div class="smallrect">
       <p>Terms of Use </p>
   
   </div>
   <div class="DescriptionLongue">
       <span>Introduction</span>
       <p>Please read these terms and conditions carefully before using OpportunityCorner
       OpportunityCorner reserves the right to modify these general conditions at any time.</p>
   </div>
   <div class="DescriptionLongue">
       <span>Provided Services</span>
       <p>OpportunityCorner
        provides a service to bring job seekers and employers together. Job seekers and employers can register, create profiles/positions and search for jobs and CVs.</p>
   </div>
   <div class="DescriptionLongue">
       <span>Privacy Policy</span>
       <p>The job seeker's personal data will be made available to employers visiting OpportunityCorner Personal data includes a required name, a required email address, and an optional phone number.
        The personal data provided by the user may be used by OpportunityCorner to notify the user of any news and / or promotional offers relating to the OpportunityCorner site. The user can unsubscribe from these notifications at any time.
        OportunityCorner will not disclose any personal data to third parties.</p>
   </div>
   <div class="DescriptionLongue">
       <span>Website Use</span>
       <p>OpportunityCorner may not be used for any of the following purposes:</p>
       <ol>
        <li>
            Contact OpportunityCorner users for any question other than the purpose of the recruitment.</li>
        <li>Contact OpportunityCorner users to offer services to a third party company.</li>
      <li>Post any illegal content</li>
       </ol>
       <p>The user is required to provide truthful information in his profile or job offer.
        It is forbidden to use texts or images from OpportunityCorner for personal or commercial use.</p>
   </div>
   <div class="DescriptionLongue">
    <span> User Information</span>
    <p>OpportunityCorner is in no way responsible for misleading and / or inaccurate information contained in job offers and profiles.
        Stage.fr reserves the right to modify or delete any information submitted by the user to the site.</p>
</div>
<div class="DescriptionLongue">
    <span>Responsability</span>
    <p>OpportunityCorner will not be responsible for any loss or damage that the user may encounter while using the site.</p>
</div>
<div class="DescriptionLongue">
    <span>Cookies Politics</span>
    <p>Notre site utilise des cookies <br>
        Un cookie est un fichier contenant un identifiant (une chaîne de lettres et de chiffres) envoyé par un serveur Web à un navigateur Web et stocké par le navigateur. L'identifiant est ensuite renvoyé au serveur chaque fois que le navigateur demande une page du serveur.
        Nous utilisons Google Analytics pour analyser l'utilisation de notre site Web.
        Notre prestataire de services d'analyse génère des informations statistiques et autres sur l'utilisation du site Web au moyen de cookies.
        Vous pouvez supprimer les cookies déjà stockés sur votre ordinateur. S'il vous plaît visitez l'option "Aide" dans le menu de votre navigateur pour savoir comment faire cela. La suppression des cookies aura un impact négatif sur la facilité d'utilisation de ce site.</p>
</div>