<footer>
    <div class="container">
     <div class="sec aboutus">
       <h2>About us</h2>
       <p>The Opportunity Corner is today the leader in the recruitment of students and young graduates (0 to 5 years of experience) in Tunisia. We already support more than 1,000 companies (mainly startups, very small businesses and SMEs) in all their recruitment of trainees, work-study trainees and junior CDI profiles. Thanks to numerous partnerships, we are in constant contact with thousands of students and junior profiles from the best training courses in commerce, management, digital communication, web development.</p>
  
       <ul class="sci">
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>   
       </ul>
      </div>
  <div class="sec quick">
  <h2>Quick Links</h2>
  
  <ul >
    <li><a href="/home">Home</a></li>
  <li><a href="/FAQ">FAQ</a></li>
  <li><a href="/Contact">Contact us</a></li>

  <li><a href="/Termsofuse">Terms of use</a></li>
  </ul >
  </div>
  <div class="sec contact">
  <h2>Contacts info</h2>
  
  <ul class="info" >
  <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
  <span>114,Habib Bourguiba Street <br/> Nabeul,Tunisia</span></li>
  
  <li><span><i class="fa fa-phone" aria-hidden="true"></i></span>
  <p>  <a  href="Tél:">+21693687927</a></p></li>
    <li><span><i class="fa fa-envelope" aria-hidden="true"></i></span>
        <p><a href="Email:">nourlimam25@gmail.com</a></p></li>
    </ul>
  </div>
  <div class="copy"><p> Copyright 2022.©All rights Deserved</p></div>
  
    </div>
  </footer>
  